/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  height: 100vh;
  font-size: 2rem;
  background: linear-gradient(lightyellow, orange);
}
.title{
  border-bottom: 2px solid black;
}

img{
  max-width: 500px;
  max-height: 400px;
  border: 2px solid black;
  box-shadow: 10px 10px black;
}
header{
  margin-bottom: 30px;
  text-align: center;
   
}
select{
  font-size: 1.1rem;
}
span{
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3rem;
  text-align: center;
  
}
.name{
  text-decoration: none;
  font-size: 2rem;
}
.section-container{
  display: flex;
  flex-direction: row;
  padding-left: 10vw;
  padding-right: 10vw;
} 

.col-left{
  text-align: center;
  border-right-style:dotted;

}
.col-right{
  margin-left: 210px;
}
.col-right ul li{
  list-style:square;
}
.col-right, .col-left{
  flex: 1;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
